# Compiled output
node_modules
dist
public
.deploy*
db.json

# ENV File
/.env*
!/.env.example
/config.*
!/config.example.*

# Git
.git
.github

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
